@font-face {
    font-family: ringbearer;
    src: url('./ringbearer.medium.ttf');
}
body {
    text-align: center;
    margin-top: 150px;
    padding: 15px;
    background-color: #dbb47b;
    font-family: ringbearer;
    letter-spacing: .3em;
}
nav {
    position: fixed;
    top: 0;
    height: 8em;
    left: 0;
    width: fill;
    border-bottom: .125em solid black;
    background-color: #9e6513;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav a {
    color: #1b2623;
    font-size: 1.5em;
    padding: .25rem;
    font-family: ringbearer;
    text-decoration: none;
    transition: border .5s;
}
nav a:hover {
    border-bottom: .25rem solid black;
}
footer {
    color: #d1cbbf;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2.5rem;      
    background-color: #192723;
    border-top: 1px solid black;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
          
}
footer a {
    color: #d1cbbf;
}
.home-links {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}
.home a:hover {
    text-decoration: underline;
    text-decoration-thickness: .125em;
}
#fellowship {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 75px;

}
#characters {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    list-style: none;
    grid-gap: 15px;
}
#characters > * {
    border: 1px solid black;
    border-radius: 5px;
}
#fellowship > * {
    border: 1px solid black;
}

a {
    color: #333;
    text-decoration: none;
}
a:hover {
    
}
.infoCard {
    position: fixed;
}